.cart-container {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.5);
  height: fit-content;
  max-height: 100vh;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 1px;
  overflow-y: scroll;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    h1 {
      color: gray;
      font-weight: 400;
      font-size: 24px;
      word-wrap: break-word;
      margin-left: 10px;
      margin-top: 10px;
    }

    .close-cart {
      width: 2.6rem;
      height: 2.6rem;
      color: black;
      transition: color 0.1s ease-in-out;
      margin-left: 1rem;
      &:hover {
        cursor: pointer;
        color: rgb(115, 115, 115);
      }
    }
  }

  .items-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .empty-cart-svg {
    width: 15rem;
    height: 14rem;
    margin: 0 auto;
    img {
      width: 100%;
      height: 90%;
      object-fit: contain;
    }
  }

  .empty-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    img {
      width: 100px;
      height: 80px;
      padding-left: 10px;
      padding-right: 10px;
      object-fit: contain;
    }

    .details {
      h1 {
        font-size: 18px;
        font-weight: 500;
      }

      p {
        color: gray;
        margin-bottom: 10px;
        font-size: 14px;
        width: 15rem;
        word-wrap: break-word;
      }

      .price {
        color: #2879fe;
      }
    }

    .delete {
      color: red;
      font-size: 30px;
      cursor: pointer;
      transition: transform 0.1s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  button {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    background-color: #2879fe;
    color: white;
    font-size: clamp(1rem, 5vw, 1.1rem);
    font-weight: 500;
    margin-bottom: 20px;
    &:hover {
      color: #2879fe;
      border: 2px solid #2879fe;
      background-color: white;
    }
  }

  .reset {
    color: red;
    font-size: 1.2rem;

    &:hover {
      color: rgb(185, 7, 7);
      cursor: pointer;
    }
  }
}

@media (max-width: 580px) {
  .cart-container {
    width: 100%;
    height: fit-content;
  }
}
@media (min-width: 580px) {
  .cart-container {
    min-width: 30rem;
  }
}

@media (max-width: 430px) {
  .cart-container {
    padding: 1px;
    .item {
      width: 100%;
      gap: 5px;
      justify-content: center;
      img {
        width: 30%;
      }
      .details {
        width: 60%;
        height: fit-content;
        overflow: hidden;
        h1 {
          word-wrap: break-word;
        }
        p {
          word-wrap: break-word;
        }
      }
      .delete {
        width: 10%;
      }
    }
    .reset {
      margin-bottom: 1rem;
    }
  }
}
