.products-container {
  width: 100%;
  max-width: 140rem;
  height: fit-content;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.products-filter {
  width: 100%;
  height: fit-content;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagination {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
