.trending-products-container {
  width: 100%;
  height: auto;
  max-width: 140rem;
  margin: 2rem auto;
  display: flex;

  flex-direction: column;

  .top {
    p {
      font-size: clamp(1.6rem, 5vw, 2.5rem);
      letter-spacing: 1px;
      padding-left: 5%;
      margin-bottom: 2rem;
      font-weight: bold;
    }

    span {
      color: red;
    }
  }

  @media (max-width: 1220px) {
    .top {
      //align-self: center;
      text-align: canter;
      p {
        text-align: center;
        padding-left: 0%;
      }
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }

  .bottom {
    width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: red;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 2px;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      border: 2px solid black;
      background-color: white;
      color: black;
    }
  }
}
