.searched-products-container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  height: fit-content;
  min-height: calc(100vh - 4.3rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.items-found {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  align-self: center;
  margin-top: 1rem;
}

.items {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
