.slider-container {
  //height: calc(100vh - 80px);
  height: 100vh;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .text-container {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    display: flex;
    flex-direction: column;
    margin-left: 10%;

    .big-text {
      font-size: clamp(3rem, 5vw, 5rem);
      font-weight: 600;
      color: white;
    }
    .item2 {
      padding-left: 40%;
    }

    @media (max-width: 400px) {
      .item2 {
        padding-left: 15%;
      }
      .line {
        width: 10rem;
      }
    }

    .line {
      height: 5px;
      border-radius: 2px;
      width: 20rem;
      background-color: white;
    }

    .small-text {
      font-size: clamp(1rem, 5vw, 1.8rem);
      font-weight: 400;
      color: white;
      margin-top: 1rem;
      margin-left: 40%;
      border: 2px solid red;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: red;
      letter-spacing: 1px;
      border-radius: 1px;

      &:hover {
        cursor: pointer;
        border: none;
        background-color: white;
        color: black;
        .arrow {
          color: black;
        }
      }

      .arrow {
        width: 1.8rem;
        height: 2.2rem;
        color: white;
      }
    }
  }
  .container {
    width: 400vw;
    height: 100%;
    display: flex;
    transition: all 1s ease;

    // .overlay {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background: linear-gradient(90deg, rgb(0, 0, 0), transparent);
    //   z-index: 1;
    // }

    img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
    }
  }

  .icons {
    width: fit-content;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    gap: 30px;
    color: white;
    margin: auto;

    .icon {
      width: 50px;
      height: 50px;
      // border: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        color: rgb(178, 175, 175);
      }
    }
  }
}
